<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.UserMapper">
    <select id="getCollectAnalysis" parameterType="Integer" resultType="org.example.springboot.dto.CollectAnalysis">
        WITH FilteredOrders AS (
        SELECT
        orf.food_id,
        o.time
        FROM
        orders o
        JOIN
        order_food orf ON o.id = orf.order_id
        ),
        SalesLastWeek AS (
        SELECT
        fo.food_id,
        COUNT(fo.food_id) AS sales_count_week
        FROM
        FilteredOrders fo
        WHERE
        fo.time >= DATE_SUB(NOW(), INTERVAL 1 WEEK)
        GROUP BY
        fo.food_id
        ),
        SalesLastMonth AS (
        SELECT
        fo.food_id,
        COUNT(fo.food_id) AS sales_count_month
        FROM
        FilteredOrders fo
        WHERE
        fo.time >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
        GROUP BY
        fo.food_id
        ),
        SalesLastYear AS (
        SELECT
        fo.food_id,
        COUNT(fo.food_id) AS sales_count_year
        FROM
        FilteredOrders fo
        WHERE
        fo.time >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
        GROUP BY
        fo.food_id
        )
        SELECT
        fc.food_id,
        f.name AS food_name,
        COALESCE(sw.sales_count_week, 0) AS sales_last_week,
        COALESCE(sm.sales_count_month, 0) AS sales_last_month,
        COALESCE(sy.sales_count_year, 0) AS sales_last_year
        FROM
        food_collect fc
        JOIN
        food f ON fc.food_id = f.id
        LEFT JOIN
        SalesLastWeek sw ON fc.food_id = sw.food_id
        LEFT JOIN
        SalesLastMonth sm ON fc.food_id = sm.food_id
        LEFT JOIN
        SalesLastYear sy ON fc.food_id = sy.food_id
        WHERE
        fc.user_id = {user_id}
        ORDER BY
        fc.food_id;

    </select>
</mapper>
